<div class="frontpage-background">
    <div class="frontpage-container">
        <div class="frontpage-heading">
            <h1 class="frontpage-h1">Under Development</h1>
            <h3 class="frontpage-h3">AmgiDex is currently under development. Contact <b>support&#64;amgidex.com</b> for any inquiries.</h3>
            
            <div class="button-container">
                <button mat-raised-button class="rounded-corners button-gradient" disabled="true" (click)="scrollToBottom()">Supported Languages</button>
                <button mat-raised-button class="rounded-corners button-gradient" disabled="true" routerLink="sign-up">Continue to App</button>
            </div>
        </div>
        <div class="feature-section">
            <div>
                <h3 class="frontpage-h3">Automatically create flashcards by providing a YouTube link or pasting in text.</h3>
            </div>
            <div class="img-container">
                <img src="{{hS.appURL}}/api/init/assets/generate-card-example.png">
            </div>
        </div>
        <div class="feature-section">
            <div>
                <h3 class="frontpage-h3">Filter flashcards based on difficulty levels, receive recommendations for words to review, and display definitions in multiple languages. Words are tracked in a dex, so you will know if you have previously encountered a word!</h3>
            </div>
            <div class="img-container">
                <img src="{{hS.appURL}}/api/init/assets/generate-card-example-2.png">
            </div>
        </div>
        <div class="feature-section">
            <div>
                <h3 class="frontpage-h3">Read more easily by toggling on readings or definitions, or follow along with text narration.</h3>
            </div>
            <div class="img-container">
                <img src="{{hS.appURL}}/api/init/assets/generate-card-example-3.png">
            </div>
        </div>
        <div class="feature-section">
            <div>
                <h3 class="frontpage-h3">Gain insights into your progress by accessing analytics and keep track of all the words you've encountered.</h3>
            </div>
            <div class="img-container">
                <img src="{{hS.appURL}}/api/init/assets/generate-card-example-5.png">
            </div>
        </div>
        <div class="feature-section">
            <div>
                <h3 class="frontpage-h3">Take comprehension-based quizzes to assess your understanding of the content you are studying.</h3>
            </div>
            <div class="img-container">
                <img src="{{hS.appURL}}/api/init/assets/generate-card-example-4.png">
            </div>
        </div>
        <div class="feature-section">
            <div>
                <h3 class="frontpage-h3">Study flashcards more efficiently with custom options such as filtering out words you already know, limiting deck size, and using narration.</h3>
            </div>
            <div class="img-container">
                <img src="{{hS.appURL}}/api/init/assets/generate-card-example-6.png">
            </div>
        </div>
        <div class="feature-section">
            <div>
                <h3 class="frontpage-h3">Edit definitions and add customized notes. Example sentences are provided from the context where they came.</h3>
            </div>
            <div class="img-container">
                <img src="{{hS.appURL}}/api/init/assets/generate-card-example-7.png">
            </div>
        </div>
        <div class="feature-section">
            <div>
                <h3 class="frontpage-h3">See where each word appeared and navigate to its timestamp.</h3>
            </div>
            <div class="img-container">
                <img src="{{hS.appURL}}/api/init/assets/generate-card-example-8.png">
            </div>
        </div>
    </div>
</div>