@use '@angular/material' as mat;
@include mat.core();
$afrontend-primary: mat.define-palette(mat.$deep-purple-palette);
$afrontend-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);
$afrontend-warn: mat.define-palette(mat.$red-palette);
$afrontend-theme: mat.define-light-theme((
  color: (
    primary: $afrontend-primary,
    accent: $afrontend-accent,
    warn: $afrontend-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($afrontend-theme);

:root {
  --url-abstract2: url('http://localhost:4400/api/init/assets/purple-abstract2.jpg');
  --url-outline: url('http://localhost:4400/api/init/assets/purple-outline2.png');
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Murecho", serif;
  --mdc-filled-button-label-text-font: "Murecho", serif;
  font-style: normal;
}

.spacer {
  flex: 1;
}
